---
 import { supabase } from "../lib/backend";
 import type { Language , Users } from "../lib/db";
 import Logout from "../components/logout.svelte";
 import Layout from "../layouts/Layout.astro";
 import Search from "../components/svelte/search.svelte";

 const currentUser = (await supabase.auth.getUser(Astro.cookies.get("my-access-token").value)).data.user as any;

    const { data, error } = await supabase
        .from("Language")
        .select("*")
    // .order("id", { ascending: false });

    const lang: Language[]=data as Language[];

        // .eq("user_id", currentUser.id)



---
 
<script>
    import { supabase } from "../lib/backend";
    const { data: { user } } = await supabase.auth.getUser()
    if (!user) {
        // window.location.href = "/"
    }else {
    // if(user.id== '345f3cdf-6041-4924-be7f-5cee3b9e2534') {
    //     window.location.href = "/admin"
    // }
}
</script>
<Layout title="Dashbaord" loggedIn={true}>
    <Search client:only="svelte" currLocation={"Language"} path={"language"}/>
    <!-- map the values of lang to a div container -->
    <!-- get the user values -->
    <!-- <p class="text-white text-center text-2xl font-bold">Welcome {users[0].user_name}</p> -->
    <div class="flex flex-col sm:flex-row">
    <div class="w-96 h-96 bg-gray-700 rounded-lg">
    <p class="text-white text-center text-2xl font-bold">Welcome JohnDoe</p>
    <!-- create an avatar from Dicebear. The avarat corresponds to the ID of the user -->
    <img src={`https://avatars.dicebear.com/api/thumbs/${currentUser.id}.svg`} class="w-32 h-32 rounded-full mx-auto mt-4" />
    </div>
    <div class=" grid grid-cols-1 h-96 w-96 sm:overflow-y-scroll place-items-end gap-y-6 pt-4">
    {lang?.map(lang => (
    <div class="flex flex-col justify-items-center text-white w-80 h-auto bg-gray-800 rounded-xl outline-dashed outline-gray-400">
        <div onclick={`window.location = "/language/${lang.id}"`}>
            <p class="text-center text-2xl pt-2 pb-7 font-bold">{lang.title}</p>
            <p class="text-center text-sm pt-2 pb-7" id="desc">{lang.description}</p>
        </div>
    </div>
    ))}
    </div>
</div>
</Layout>
