---
export interface Props {
	pid: number;
}

import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/backend";
import type { Session } from "@supabase/supabase-js";
import hljs from 'highlight.js';
import { onMount } from "svelte/internal";
import Comnt from "./svelte/comnt.svelte";

import type { Contents, Documentation, Comments } from "../lib/db";

const refreshToken = Astro.cookies.get("my-refresh-token").value
const accessToken = Astro.cookies.get("my-access-token").value

const currentUser = (await supabase.auth.getUser(Astro.cookies.get("my-access-token").value)).data.user
let owner = false

var authed = currentUser !== null

const { pid } = Astro.props

const { data, error } = await supabase
// get both contents and documentation table
    .from('Contents')
    .select('*')
    // order by when it was created
    .order('number', { ascending: true })



    const contentText: Contents[]=data as Contents[];
    // filter by pid
    const content = contentText.filter((con: Contents) => con.connect === pid);

    const doc: Documentation[] = (await supabase.from('Documentation').select('*').eq('id', pid)).data as Documentation[]
    const { title, description } = doc[0];


    console.log(content);
    console.log(doc);

    if(currentUser && (currentUser.id == doc[0].user_id! || currentUser.id == "0c3ae789-1eb4-4dbd-b76d-a18d87dbc0d3")) {
    owner = true
}
---

<Layout title="Docs">
    <script >
    import hljs from 'highlight.js';
    //  use a dark theme for highlight.js
    import code from 'highlight.js/lib/languages/javascript';

    // dont use github theme because it doesnt work
    import 'highlight.js/styles/github-dark.css';
    // select all the elements that have the id of Code
    const Code = document.querySelectorAll('#Code');


    hljs.registerLanguage('javascript', code);
    // loop through all the elements and highlight them
    Code.forEach((block) => {
        return hljs.highlightBlock(block as HTMLElement);
    });

    </script>
<main>
<div>
    <div class="flex text-white flex-col gap-2">
        <p class=" text-center text-2xl">{title}</p>
        <p class=" text-center text-xl">{description}</p>
        <div class="flex justify-center">
            <!-- {owner && <a onclick={`window.location = "/edit/${pid}"`} class="text-white text-center text-xl">Edit</a>} -->
         <Comnt client:only="svelte" id={pid} />
         </div>
    </div>
<div class=" place-items-center">
        <div>
        {content && content.map((con: Contents) => (
            <div class="text-white flex flex-col justify-center pl-6 sm:pl-12 pt-6">
                {con.is_code && 
                    <div class="w-96 sm:w-1/2 h-72 mt-6 rounded-lg place-self-center">
                    <pre class="overflow-auto h-64 whitespace-pre-wrap" id="Code"><code>{con.text}</code></pre>
                    </div>
                }
                {!con.is_code && <p class="text-lg">{con.text}</p>}
            </div>
        ))}  
    </div>
</div>
</div>
</main>
</Layout>