---
export interface Props {
	pid: number;
}

import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/backend";
import { identity, onMount } from "svelte/internal";
import Comnt from "./svelte/comnt.svelte";
import Getdocs from "./svelte/getdocs.svelte";

import type { Contents, Documentation, Comments, Language } from "../lib/db";


const currentUser = (await supabase.auth.getUser(Astro.cookies.get("my-access-token").value)).data.user
let owner = false


var authed = currentUser !== null

const { pid } = Astro.props


    const doc: Documentation[] = (await supabase.from('Documentation').select('*').eq('id', pid)).data as Documentation[]
    const { title, description,upvotes,user_email } = doc[0];
    
    const currlang: Language[] = (await supabase.from('Language').select('*').eq('id', doc[0].lang)).data as Language[]

    const moredocs: Documentation[] = (await supabase.from('Documentation').select('*').eq('lang', doc[0].lang).neq('id', pid).limit(5)).data as Documentation[]

    console.log(doc);

    if(currentUser && (currentUser.id == doc[0].user_id! || currentUser.id == "0c3ae789-1eb4-4dbd-b76d-a18d87dbc0d3")) {
    owner = true
}
---

<Layout title="Docs">
<main>
<div>
    <div class="flex text-white flex-col gap-2">
        <p class=" text-center text-2xl">{title}</p>
        <p class=" text-center text-xl">{description}</p>
        <p class=" text-center text-xl">By: {user_email}</p>
        <div class="flex justify-center gap-2">
             {owner && <button onclick={`window.location = "/edit/${pid}"`} class="btn btn-error btn-sm btn-square btn-outline text-white place-self-center pl-2 pr-2 h-12 text-xl w-24 bg-green-700 rounded-lg mt-5">Edit</button>} 
         <Comnt client:only="svelte" id={pid} />
         </div>
    </div>
    <Getdocs client:only="svelte" pid={pid} />
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 justify-center sm:justify-start ">
            <p class=" text-center text-2xl">More Docs</p>
            {moredocs?.map((doc) => (
                <div class="flex flex-col gap-2 w-96 sm:w-7/12 h-auto bg-gray-800 rounded-lg cursor-pointer self-center" onclick={`window.location = "/docs/${doc.id}"`}>
                    <p class=" text-center text-xl pt-4">{doc.title}</p>
                    <p class=" text-center text-lg pb-4">{doc.description}</p>
                </div>
            ))}
        </div>
    </div>
</div>
</main>
</Layout>