---
export interface Props {
	pid: number;
}

import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/backend";
import { onMount } from "svelte/internal";
import Comnt from "./svelte/comnt.svelte";
import Getdocs from "./svelte/getdocs.svelte";

import type { Contents, Documentation, Comments, Language } from "../lib/db";


const currentUser = (await supabase.auth.getUser(Astro.cookies.get("my-access-token").value)).data.user
let owner = false

var authed = currentUser !== null

const { pid } = Astro.props

    const doc: Documentation[] = (await supabase.from('Documentation').select('*').eq('id', pid)).data as Documentation[]
    const { title, description,upvotes } = doc[0];

    console.log(doc);

    if(currentUser && (currentUser.id == doc[0].user_id! || currentUser.id == "0c3ae789-1eb4-4dbd-b76d-a18d87dbc0d3")) {
    owner = true
}

// const handleupvote = async () => {
//     const { data, error } = await supabase
//     .from('Documentation')
//     .update({ upvotes: upvotes + 1 })
//     .eq('id', pid)
//     if (error) console.log('error', error)
//     else console.log('upvoted')
// }

// document.getElementById("up")?.addEventListener("click", handleupvote)
---

<script>
import { supabase } from "../lib/backend";
import type { Documentation } from "../lib/db";
let pid = Astro.props.pid
const doc: Documentation[] = (await supabase.from('Documentation').select('*').eq('id', pid)).data as Documentation[]

const handleupvote = async () => {
    const { data, error } = await supabase
    .from('Documentation')
    .update({ upvotes: doc[0].upvotes + 1 })
    .eq('id', pid)
    if (error) console.log('error', error)
    else console.log('upvoted')
}

document.getElementById("up")?.addEventListener("click", handleupvote)

</script>

<Layout title="Docs">
<main>
<div>
    <div class="flex text-white flex-col gap-2">
        <p class=" text-center text-2xl">{title}</p>
        <p class=" text-center text-xl">{description}</p>
        <div class="flex justify-center gap-2">
             {owner && <button onclick={`window.location = "/edit/${pid}"`} class="btn btn-error btn-sm btn-square btn-outline text-white place-self-center pl-2 pr-2 h-12 text-xl w-24 bg-green-700 rounded-lg mt-5">Edit</button>} 
         <Comnt client:only="svelte" id={pid} />
        <button class="btn btn-error btn-sm btn-square btn-outline text-white place-self-center pl-2 pr-2 h-12 text-xl w-24 bg-green-700 rounded-lg mt-5" id="up">Upvote</button>
         </div>
    </div>
<Getdocs client:only="svelte" pid={pid} />
</div>
</main>
</Layout>